{% load static %}
<nav class="main-header navbar navbar-expand-md navbar-pink navbar-dark">
    <div class="container">
        <a href="{% url 'frontend:index' %}" class="navbar-brand">
            {#                <img src="{% static 'admin/dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo"#}
            {#                     class="brand-image img-circle elevation-3"#}
            {#                     style="opacity: .8">#}
            <span class="brand-text font-weight-light">Restaurant</span>
        </a>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-lg-5 order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'frontend:index' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            {% if  user.is_authenticated %}
                <li class="nav-item dropdown">
                    <div class="dropdown">
                        <a class="dropdown-toggle mr-5" href="#" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.get_username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                </li>
            {% endif %}

            <li class="nav-item">
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        <a class="nav-link" href="{% url 'cart:cart_detail' %}">Cart<i
                                class="fa fa-shopping-cart"></i><span class="badge badge-dark">{{ total_items }}</span></a>
                    {% else %}
                        <a class="nav-link" href="{% url 'cart:cart_detail' %}">Cart<i
                                class="fa fa-shopping-cart"></i><span class="badge badge-dark"></span></a>

                    {% endif %}
                {% endwith %}
            </li>
        </ul>
    </div>
</nav>